@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
*{
    padding:0px;
    margin:0px;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
.dis-flx{
    display:flex;
}
.dir-col{
    flex-direction: column;
}
.jst-spa-bet{
    justify-content: space-between;
}
.jst-ctr{
    justify-content:center;
}
.alg-itm{
    align-items: center;
}
.pos-rel{
    position: relative;
}
.pos-abs{
    position: absolute;
}
.mrg-b-8{
    margin-bottom: 8px;
}
.mrg-l-8{
    margin-left: 8px;
}
.mrg-t-16{
    margin-top: 16px;
}
.w100{
    width: 100%;    
}
.flx-warp{
    flex-wrap: wrap;
}
.circle{
    width: 16px;
    height: 16px;
    border-radius:8px;
}
.cursor{
    cursor:pointer;
}
.palette-cont{
    bottom: 14px;
    right: 16px;
    width:100px;
}
.title{
    font-size:16px;
    font-weight:600;

}
.card-cont{
    width: 55%;
    min-width: 320px;
    max-width: 800px;
    padding:16px;
    /* border:2px solid red; */
}