@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --primary-dark: #40efc9;
}
input,
textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
body {
  max-width: 800px;
  padding: 16px;
  margin: auto;
  font-family: "Source Sans Pro", sans-serif;
}
.dis-flx {
  display: flex;
}
.dir-col {
  flex-direction: column;
}
.jst-spa-bet {
  justify-content: space-between;
}
.jst-ctr {
  justify-content: center;
}
.alg-itm {
  align-items: center;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.mrg-b-8 {
  margin-bottom: 8px;
}
.mrg-l-8 {
  margin-left: 8px;
}
.mrg-t-16 {
  margin-top: 16px;
}
.mrg-t-64 {
  margin-top: 64px;
}
.pos-fix-l {
  position: fixed;
  top: 1rem;
  left: 1rem;
}
.pos-fix-r {
  position: fixed;
  top: 1rem;
  right: 1rem;
}
.w100 {
  width: 100%;
}
.flx-warp {
  flex-wrap: wrap;
}
.circle {
  width: 16px;
  height: 16px;
  border-radius: 8px;
}
.cursor {
  cursor: pointer;
}
.palette-cont {
  bottom: 14px;
  right: 16px;
  width: 100px;
}
.title {
  font-size: 16px;
  font-weight: 600;
}
.card-cont {
  width: 57%;
  min-width: 320px;
  max-width: 810px;
  padding: 16px;
}
.main-layout {
  width: 100%;
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 24px;
}
@media (max-width: 600px) {
  .main-layout {
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 24px;
  }
}
button,
.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 500 1rem/1.18em "Lato", sans-serif;
  letter-spacing: 0.04em;
  appearance: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.btn-link {
  background: transparent;
  padding: 0.5rem 0.5rem;
  color: inherit;
}
